<strong>Olá, {{ deliverer }}</strong>
<p>Uma encomenda atribuida para você acaba de ser cancelada.</p>
<br />
<p>Veja mais informações abaixo:</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Destinatário: </strong> {{ name }} <br />
  <br />
  <strong>Motivo do cancelamento: </strong> {{ description }} <br />
</p>
<br />
<br />
<p>Agradecemos a atenção,</p>
